{% load i18n bootstrap_tags %}

{% url 'tags:create' lab_pk=lab.pk as action %}
<div class="box-header with-border">
  <i class="fa fa-tag"></i>
  <h3 class="box-title">Create tag</h3>
</div>

<form method="post" id="location-form" action="{{ action }}">
  <div class="box-body">
    {% csrf_token %}
    {{ form|as_bootstrap }}
  </div>
  <div class="box-footer form-actions">
    <button type="submit" class="btn btn-success btn-flat btn-sm id="btn-form">{% trans 'Save'|upper %}</button>
  </div>
</form>