{% load i18n bootstrap_tags %}

{% if object.pk %}
  {% url 'tags:update' pk=object.pk lab_pk=lab.pk as action %}
  <div class="btn-group pull-right">
    <a href="#location-tree" class="btn btn-sm bg-olive btn-flat" id="location-create"
       data-url="{% url 'tags:create' lab_pk=lab.pk %}">
      <i class="fa fa-tag"></i> {% trans 'create tag'|upper %}
    </a>
  </div>
  <h3>Update tag</h3>
{% else %}
  {% url 'tags:create' lab_pk=lab.pk as action %}
  <h3>Create tag</h3>
{% endif %}

<form method="post" id="location-form" action="{{ action }}">
  <div class="box-body">
    {% csrf_token %}
    {{ form|as_bootstrap }}
  </div>
  <div class="box-footer form-actions">
    <button type="submit" class="btn btn-info btn-sm" id="btn-form">{% trans 'Save'|upper %}</button>
  </div>
</form>