---
django_settings_file: production
admin_email: <e-mail for sending debug information>
secret_key: <50 random characters unique key>
email_host: <SMTP server address>
email_port: <SMTP server port>
email_host_user: <SMTP server user>
email_host_password: <SMTP server password>
email_use_tls: <use or not encrypted connection, values: True or False only>
server_email: <email address for outgoing e-mails>
social_auth_facebook_key: <social_auth_facebook_key>
social_auth_facebook_secret: <social_auth_facebook_secret>
social_auth_google_oauth2_key: <social_auth_google_oauth2_key>
social_auth_google_oauth2_secret: <social_auth_google_oauth2_secret>
social_auth_linkedin_oauth2_key: <social_auth_linkedin_oauth2_key>
social_auth_linkedin_oauth2_secret: <social_auth_linkedin_oauth2_secret>