{% extends 'registration/base_email.html' %}

{% load i18n %}

{% block content %}
  {% blocktrans %}
    You're receiving this email because you requested a password reset for your user account at {{ site_name }}.
  {% endblocktrans %}
  <p>
    {% trans 'Please go to this ' %}
    <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm_auth' uidb64=uid token=token %}">
      {% trans 'page' %}
    </a>
    {% trans 'and choose a new password' %}
  </p>
  <p>{% trans 'Thanks for using our site!' %}</p>

{% endblock %}