{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans 'Password reset' %}{% endblock %}

{% block content %}
  <div class="">
    <header>
      {% if validlink %}
        <h3>{% trans 'Enter new password' %}</h3>
        <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
      {% else %}
        <h3>{% trans 'Password reset unsuccessful' %}</h3>
        <p>{% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}</p>
      {% endif %}
    </header>
    <div class="col-lg-4 voffset4">
      <form action="" method="post" class="form-horizontal">{% csrf_token %}
        {% include 'form.html' with field_width=-5 label_width=5 %}
        <input type="submit" value="{% trans 'Change my password' %}" class="btn btn-info">
      </form>
    </div>
  </div>
{% endblock %}
