<html>
<body style="background: #cbcbcb; color: #393939; padding: 20px 20px 20px 25px">
<table
    style="border-spacing: 0; width: 605px; height: 525px; border-radius: 5px; background: #fff; border: 1px solid #b9b9b9;">
  <tr>
    <td style="height: 75px; background: #f1f1f1; border-radius: 5px 5px 0 0; border-bottom: 1px solid #b9b9b9;">

    </td>
  </tr>
  <tr style="vertical-align: top; padding: 50px 50px 50px 30px;">
    <td style="padding: 50px 50px 50px 30px;">
      {% block content %}{% endblock %}
    </td>
  </tr>
</table>
</body>
</html>
