{% extends 'registration/base.html' %}
{% load i18n bootstrap_tags %}

{% block content %}
{% block alert_area %}{% endblock %}
  <div class="register-logo">
    {% block box_header %}{% endblock %}
  </div>
  <div class="register-box-body">
    <form action="" method="post">
        {% block alert %}{% endblock %}
        {% block box_body %}
          {% csrf_token %}
          {{ form|as_bootstrap_inline }}
        {% endblock %}

        {% block box_footer %}{% endblock %}
    </form>
  </div>
{% endblock %}