{% extends "registration/form.html" %}
{% load i18n bootstrap_tags %}

{% block title %}{% trans 'password reset'|title %}{% endblock %}

{% block box_header %}{% trans 'password reset'|title %}{% endblock %}

{% block alert %}
  {% with alert_tag='warning' icon='question' alert_header="Forgotten your password?" alert_message="Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}
    {% include 'registration/include/alert.html' %}
  {% endwith %}
{% endblock %}

{% block box_footer %}
  <button type="submit" class="btn bg-olive btn-block">{% trans 'Reset my password' %}</button>
  <a href="/" class="btn bg-red-gradient btn-block"><i class="fa fa-mail-reply"></i> {% trans 'Back to main' %}</a>
{% endblock %}
