{% extends "registration/form.html" %}
{% load i18n bootstrap_tags %}

{% block title %}{% trans 'Password reset' %}{% endblock %}

{% block box_header %}{% trans 'password reset'|title %}{% endblock %}

{% block box_body %}
  {% block alert %}
    {% if validlink %}
      {% with alert_tag='info' icon='info' alert_header="Enter new password." alert_message="Please enter your new password twice so we can verify you typed it in correctly." %}
        {% include 'registration/include/alert.html' %}
      {% endwith %}
    {% else %}
      {% with alert_tag='warning' icon='ban' alert_header="Password reset unsuccessful!" alert_message="The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}
        {% include 'registration/include/alert.html' %}
      {% endwith %}
    {% endif %}
  {% endblock %}
  {% csrf_token %}
  {{ form|as_bootstrap }}
{% endblock %}
{% block box_footer %}
  <button type="submit" class="btn btn-block bg-olive">{% trans 'Change my password' %}</button>
  <a href="/" class="btn bg-red-gradient btn-block"><i class="fa fa-mail-reply"></i> {% trans 'Back to main' %}</a>
{% endblock %}
