DOMAIN=""
ADMIN_EMAIL=""
SECRET_KEY=""
LANGUAGE_CODE=""
#MongoDB section
MONGODB_USER=""
MONGODB_PASSWD=""
MONGODB_NAME=""
MONGODB_HOST=""
MONGODB_PORT=""
#E-mail section
EMAIL_HOST=""
EMAIL_PORT=587
EMAIL_HOST_USER=""
EMAIL_HOST_PASSWORD=""
EMAIL_USE_TLS=True
SERVER_EMAIL=""
#Facebook section
SOCIAL_AUTH_FACEBOOK_KEY=""
SOCIAL_AUTH_FACEBOOK_SECRET=""
#Google section
SOCIAL_AUTH_GOOGLE_OAUTH2_KEY=""
SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET=""
#Linkedin section
SOCIAL_AUTH_LINKEDIN_OAUTH2_KEY=""
SOCIAL_AUTH_LINKEDIN_OAUTH2_SECRET=""
