{% load static i18n %}

<div class="box box-widget">
  <div class="box-header">
    <span class="description">{{ link.timestamp|date:"DATE_FORMAT" }}</span>
    <div class="box-tools">
      <button class="btn btn-box-tool link-delete" data-widget="remove" data-delete-url="{% url 'units:unit-remove-url' lab_pk=lab_pk pk=link.pk %}"><i class="fa fa-times"></i></button>
    </div>
  </div>
  <div class="box-body">
    <div class="attachment-block clearfix">
      {% if link.image %}
        <img class="attachment-img" src="{{ link.image }}" alt="attachment image">
      {% else %}
        <img class="attachment-img" src="{% static 'img/no_image.png' %}" alt="attachment image">
      {% endif %}
      <div class="attachment-pushed">
        <h4 class="attachment-heading"><a href="{{ link.link }}">{% if link.title %}{{ link.title }}{% else %}{{ link.link }}{% endif %}</a></h4>
        <div class="attachment-text">{% if link.title %}{{ link.description|safe }}{% else %} ...{% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
