{% extends 'handsontable_measurment.html' %}

{% load static i18n %}

{% block urls %}
  data-url='{% url "measurements:api-table" lab_pk=lab.pk pk=object.measurement.pk %}'
  data-remove-url='{% url "measurements:delete" unit_pk=unit_pk lab_pk=lab.pk %}'
  data-content-url='{% url "measurements:api-table" lab_pk=lab.pk pk=object.measurement.pk %}'
{% endblock %}

{% block script %}
  {{ block.super }}
{% endblock %}

{% block css %}
  {{ block.super }}
{% endblock %}

{% block content %}
  {{ block.super }}
  {% include 'modal.html' with action='' %}
{% endblock %}

{% block breadcrumb_active %}
  {% trans 'measurements'|title %}
{% endblock %}

{% block content_header %}
  {% trans 'measurements'|title %}
{% endblock %}

{% block extra_script %}
  <script src="{% static 'ckeditor/ckeditor.js' %}"></script>
{% endblock %}