{% load i18n bootstrap_tags %}

<!-- Modal -->
<div class="modal fade" id="add_unit" tabindex="-1" role="dialog" aria-labelledby="Modal"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" title="{% trans 'Close' %}">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title" id="Modal">{% trans 'Add units to the experiment' %}</h3>
      </div>
      <form method="post" class="{{ class }}" ng-submit="addUnit()" data-field="{{ fields }}">
        <div class="modal-body">
          {% csrf_token %}
          <select ui-select2 multiple="multiple" class="form-control" ng-model="added_units">
            <option ng-repeat="unit_option in units" ng-if="unit_option.experiments.indexOf(experiment_id) == -1"
                    ng-selected="unit.parent.indexOf(unit_option.id) > -1"
                    value="{% verbatim %}{{unit_option.id}}{% endverbatim %}">
              {% verbatim %}{{unit_option.sample}}{% endverbatim %}
            </option>
          </select>
        </div>
        <div class="modal-footer form-actions">
          <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
          {% with btn=button_name|default:'Save' %}
            <button type="submit" class="btn btn-flat bg-olive">{% trans btn|title %}</button>
          {% endwith %}
        </div>
      </form>
    </div>
  </div>
</div>
