{% load static %}
<link rel="stylesheet" type="text/css" href='{% static "filemanager/styles/reset.css" %}'/>
<link rel="stylesheet" type="text/css"
      href='{% static "filemanager/scripts/jquery.filetree/jqueryFileTree.css" %}'/>
<link rel="stylesheet" type="text/css"
      href='{% static "filemanager/scripts/jquery.contextmenu/jquery.contextMenu-1.01.css" %}'/>
<link rel="stylesheet" type="text/css" href='{% static "filemanager/styles/filemanager.css" %}'/>
<!--[if IE 9]>
<link rel="stylesheet" type="text/css" href='{% static "filemanager/styles/ie9.css" %}' />
<![endif]-->
<!--[if lte IE 8]>
<link rel="stylesheet" type="text/css" href='{% static "filemanager/styles/ie8.css" %}' />
<![endif]-->
