{% load i18n static %}

  <script type="text/javascript">
    var lab_pk = '{{ lab.pk }}';
    angular.module('FileManagerApp').config(['fileManagerConfigProvider', function (config) {
      var defaults = config.$get();
      config.set({
        appName: '{{ lab }} storages',
        listUrl: '/' + lab_pk + '/filemanager/list/',
        createFolderUrl: '/' + lab_pk + '/filemanager/createfolder/',
        renameUrl: '/' + lab_pk + '/filemanager/rename/',
        removeUrl: '/' + lab_pk + '/filemanager/remove/',
        uploadUrl: '/' + lab_pk + '/filemanager/upload/',
        downloadFileUrl: '/' + lab_pk + '/filemanager/download/',
        modal: true,
        sidebar: false,
        breadcrumb: false,
        allowedActions: angular.extend(defaults.allowedActions, {
          rename: false,
          copy: false,
          edit: false,
          changePermissions: false,
          compress: false,
          compressChooseName: false,
          extract: false,
          download: false,
          preview: true,
          choose: true,
          remove: false
        })
//          TODO:  tplPath: 'src/templates'
      });
    }]);
  </script>
