{% load i18n static %}
<link rel="stylesheet" type="text/css" href='{% static "filemanager/styles/reset.css" %}'/>
<link rel="stylesheet" type="text/css"
      href='{% static "filemanager/scripts/jquery.filetree/jqueryFileTree.css" %}'/>
<link rel="stylesheet" type="text/css"
      href='{% static "filemanager/scripts/jquery.contextmenu/jquery.contextMenu-1.01.css" %}'/>
<link rel="stylesheet" type="text/css" href='{% static "filemanager/styles/filemanager.css" %}'/>
<!--[if IE 9]>
<link rel="stylesheet" type="text/css" href='{% static "filemanager/styles/ie9.css" %}' />
<![endif]-->
<script src='{% static "filemanager/scripts/jquery-migrate-1.2.1.min.js" %}'></script>
<script type="text/javascript" src='{% static "filemanager/scripts/jquery.form-3.24.js" %}'></script>
<script type="text/javascript"
        src='{% static "filemanager/scripts/jquery.splitter/jquery.splitter-1.5.1.js" %}'></script>
<script type="text/javascript" src='{% static "filemanager/scripts/jquery.filetree/jqueryFileTree.js" %}'></script>
<script type="text/javascript"
        src='{% static "filemanager/scripts/jquery.contextmenu/jquery.contextMenu-1.01.js" %}'></script>
<script type="text/javascript" src='{% static "filemanager/scripts/jquery.impromptu-3.2.min.js" %}'></script>
<script type="text/javascript" src='{% static "filemanager/scripts/jquery.tablesorter-2.7.2.min.js" %}'></script>
<script type="text/javascript">
  // Set this to the directory you wish to manage.
  var fileRoot = '{{ UPLOAD_URL }}';
  var django_view = '{% url "filemanager" lab_pk=lab.pk %}';
  var treeConnector = django_view + '?mode=filetree';
  var staticUrl = '{{ STATIC_URL }}';
</script>
<script type="text/javascript" src='{% static "filemanager/scripts/filemanager.js" %}'></script>

<![endif]-->
<!--[if lte IE 8]>
<link rel="stylesheet" type="text/css" href='{% static "filemanager/styles/ie8.css" %}' />
<![endif]-->



<div class="modal fade {{ modal_class }}" id="fm" tabindex="-1" role="dialog" aria-labelledby="Modal"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="min-width: 900px !important;">
      <button type="button" class="close" data-dismiss="modal" title="{% trans 'Close' %}">
        <span aria-hidden="true">&times;</span>
      </button>
      <h3 class="modal-title" id="Modal">{% trans 'Upload from server' %}</h3>
      <div class="modal-body">

        <div class="filemanager-content">
          <div id="splitter">
            <div id="filetree" style="width: 200px;min-width: 200px !important;"></div>
            <div id="fileinfo" style="left: 220px;width: 100%;min-width: 650px !important;">
              <h1></h1>
            </div>
          </div>
          <form name="search" id="search" method="get">
            <div>
              <input type="text" value="" name="q" id="q"/>
              <a id="reset" href="#" class="q-reset"></a>
              <span class="q-inactive"></span>
            </div>
          </form>

          <ul id="itemOptions" class="contextMenu">
            <li class="select"><a href="#select"></a></li>
            <li class="download"><a href="#download"></a></li>
            <li class="rename"><a href="#rename"></a></li>
            <li class="move"><a href="#move"></a></li>
            {#        <li class="replace"><a href="#replace"></a></li>#}
            <li class="delete separator"><a href="#delete"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>