{% load i18n static %}

<div class="modal fade {{ modal_class }}" id="fm" tabindex="-1" role="dialog" aria-labelledby="Modal"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="min-width: 900px !important;">
      <button type="button" class="close" data-dismiss="modal" title="{% trans 'Close' %}">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-body">
        <div >
          <div class="ng-cloak">
            <angular-filemanager></angular-filemanager>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>