{% extends 'base.html' %}

{% load i18n static %}

{% block ang_controller %}ng-controller="MeasurementCtrl" data-measurement-pk="{{ object.measurement.id }}"{% endblock %}

{% block content_header %}
  {% if unit_pk %}
    <li><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
  {% endif %}
{% endblock %}


{% block breadcrumb %}
  {% if experiment %}
    <li><a href="{{ experiment.get_absolute_url }}"><i class="fa fa-eyedropper"></i> {% trans experiment.title|title %}
    </a></li>
  {% endif %}
  {% if unit_pk %}
    {% if object.experiments %}
      <li>
        {% for experiment in object.experiments.all %}
          <a href="{{ experiment.get_absolute_url }}">
            <i class="fa fa-eyedropper"></i> {% trans experiment.title|title %}
          </a>&nbsp;
        {% endfor %}
      </li>
    {% endif %}
    <li><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
  {% endif %}
  <li class="active">
    {% block breadcrumb_active %}
    {% endblock %}
  </li>
{% endblock %}


{% block manage_buttons %}
  {% if is_editor %}
    <div class="btn-group">
      <button ng-click="saveTable()" class="btn bg-olive"><i class="fa fa-save"></i> {% trans 'Save' %}</button>
    </div>
  {% endif %}
    <div class="btn-group">
      <button ng-click="addColumn()" class="btn bg-olive"><i class="fa fa-plus"></i> {% trans 'Add Column' %}</button>
    </div>
    <div class="btn-group">
      <button class="show-plot btn bg-olive"><i class="fa fa-area-chart"></i> {% trans 'Create plot' %}</button>
    </div>
    <div class="btn-group pull-right">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">History <span class="caret"></span></button>
        <ul class="dropdown-menu scrollable-menu" role="menu">
            <li ng-repeat="revision in measurement.revisions"><a href="#" ng-click="revertRevision(revision.url)" ng-bind="revision.timestamp"></a></li>
        </ul>
    </div>
{% endblock %}

{% block content %}
  <div class="col-lg-12">

    <div class="plot-area">
        <div class="row">
            <div class="col-lg-4">
        <form id="plot-form" style="display: none">
            <div class="plot-link"></div>
            <div class="form-inline">
                <div class="form-group">
                    <select  class="form-control asis" name="xasis">
                        <option selected disabled>x-asis</option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control asis" name="yasis">
                        <option selected disabled>y-asis</option>
                    </select>
                </div>
                <div class="form-group">
                    <select  class="input-small form-control" name="type">
                        <option disabled>type</option>
                        <option selected value="scatter">scatter</option>
                        <option value="bar">bar</option>
                    </select>
                </div>
            </div>
            <div class="create-plot-btn">
              <button class="create-plot btn bg-olive"><i class="fa fa-area-chart"></i> {% trans 'Create plot' %}</button>
            </div>
        </form>
        </div>
        </div>
    </div>
    <div class="wrap-handsontable">
      <div id="dataTableEditable"></div>
    </div>
  </div>


<!-- Modal -->
<div class="modal fade" id="set_un" tabindex="-1" role="dialog" aria-labelledby="Modal"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" title="{% trans 'Close' %}">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title" id="Modal">{% trans 'Error' %}</h3>
      </div>
      <form method="post" class="modal-form {{ class }}" action="{{ action }}" data-field="{{ fields }}">
        <div class="modal-body">
          <p>Please set plot.ly username and key in <a href="{% url 'profiles:update' pk=user.pk %}">your profile</a>. You can access it in <a href="https://plot.ly/settings/api">plot.ly profile page</a></p>
        </div>
        <div class="modal-footer form-actions">
          <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}


{% block css %}
  {% block extra_css %}{% endblock %}
{% endblock %}


{% block script %}
  {% block extra_script %}{% endblock %}
{% endblock %}