{% load i18n static bootstrap_tags %}
<div class="comment-area">
    <div class="box-footer box-comments comments-block chat-box {% if not_sockets %}comments-list{% endif %} comment-activities" data-experiment-pk="{{ object.pk }}">
      {% for comment in comments %}
        {% include 'comments/comment_block.html' %}
      {% endfor %}
      <div class="comments-end"></div>
      {% include 'alert.html' with modal_id=delete_modal_id|default:'confirm-delete-comment' class="comment-remove" modal_class="confirm-delete-comment" %}
    </div>
  <div class="box-footer comment-form-a">
    <form action="{% url 'comment:comment' lab_pk=lab.pk %}" method="post" id="comment-form" class="comment-form">

      <div class="comment-editor">
        {% csrf_token %}
        <div class="textarea-with-button">
          {{ comment_form_create }}
          <button type="submit" class="textarea-button btn btn-info btn-sm btn-flat">{% trans 'Submit comment'|upper %}</button>
        </div>
      </div>
    </form>
  </div>

{% if not not_modal %}
  {% block modal %}
    {% load static i18n %}
    {% include 'modal.html' with modal_id=modal_id|default:'comment-modal' action="" extra_form=comment_form_update modal_title='update  comment' modal_class="comment-modal" %}
  {% endblock %}
{% endif %}

</div>